body {
    margin: 0;
    font-family: Arial;
    background: #f0f2f5;
}

/* HEADER */
.header {
    background: #1e3c72;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

/* MENU */
.menu {
    display: none;
    background: #2a5298;
}

.menu a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

/* PAGE */
.page {
    display: none;
    padding: 20px;
}

.active {
    display: block;
}

/* FORM */
input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #1e3c72;
    color: white;
    border: none;
    padding: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    background: #1e3c72;
    color: white;
}